{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}Validação{% endblock %}

{% block content %}

{% include "includes/navbar.html" %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center bg-light p-4 rounded" style="max-width: 700px;">

        <div class="d-flex align-items-center justify-content-center mb-4">
            <h2 class="m-0" style="font-family: 'Poppins', sans-serif; font-weight: 400; font-weight: bold;">Valide sua Torcida</h2>
        </div>

        {% bootstrap_messages %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3 text-start">
                <label for="id_username" class="form-label">Nome Completo:</label>
                {% bootstrap_field form.username show_label=False %}
            </div>

        </form>

    </div>
</div> 

{% endblock %}