    {% load static %}
    {% load django_bootstrap5 %}

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {% bootstrap_css %}

        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=2">

        {% block extra_head %}{% endblock %}

    </head>
    <body class="d-flex flex-column min-vh-100">
        {% block content %}{% endblock %}

        <a href="https://github.com/Nando2003" class="footer-link" target="_blank">Made by Nando2003</a>

        {% bootstrap_javascript %}

        {% block scripts %}{% endblock %}

    </body>
    </html>